@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url('https://fonts.googleapis.com/css?family=Roboto:400');


html, body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  border-top: 3px solid #EC407A;
  background-color: #141d26;
  color: #c5c8c6;
  font-family: "Source Code Pro", "Menlo", "Courier New", Courier, monospace;
  font-size: 1.3em;
  line-height: 1.55;
  font-weight: 300;
  letter-spacing: -.003em;
  padding: 12px;
  box-sizing: border-box;
  overflow-x: hidden;
}

article {
  display: block;
  box-sizing: border-box;
  width: 750px;
  max-width: 100%;
  padding: 20px;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
header > a > img {
    margin: 16px 0 0 0;
}

h1, h2, h3, h4, h5 {
  font-family: "Roboto", "Helvetica", "DejaVu Sans", "Arial", sans-serif;
  letter-spacing: .015em;
  font-weight: 300;
  color: #EC407A;
  padding-top: 5px;
  margin: 0 0 16px 0;
  padding: 0;
}

h1 { font-size: 1.3em; line-height: 1.04; text-align: center; }
h2 { font-size: 1.2em; line-height: 1; }
h3, h4, h5 { font-size: 1.1em; line-height: 1; }

a, a:VISITED { color: #EC407A; text-decoration: none; }
a:HOVER { text-decoration: underline; }

.serif .post-message p, .serif .top-thread-post p, .serif .top-user p {
  font-family: "Source Code Pro", "Menlo", "Courier New", Courier, monospace !important;
}

pre {
  border-radius: 3px;
  border: 2px solid rgba(0, 0, 0, 0.2);
}
pre > code {
  display: block;
  font-family: 'Source Code Pro', Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: .8em;
  tab-size: 2 !important;
}

#disqus_thread {
  overflow: hidden;
  max-width: 100%;
}
#disqus_thread > iframe { margin-bottom: -54px; }

::-webkit-scrollbar-track { background-color: #233242; }

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #0d151c;
}

::-webkit-scrollbar-thumb {
  background-color: #0b1116;
}

::selection { background: #EC407A; }
::-moz-selection { background: #EC407A; }
code[inline] {
    font-size: .77em;
    -webkit-border-radius: 5px;
    border: 1px solid #888;
    padding: 2px;
}

/* Responsive bullshit */
